# =============================================================================
# GENERIC SETTINGS START
# =============================================================================

# GitHub generic .gitignore settings.

# Git version control. Global ignore .git directory.
**/.git/

# Macintosh operating system. Global ignore .DS_Store files.
**/.DS_Store

# Sass. Global ignore Sass related files.
**/.sass-cache/
**/*.css.map
**/*.sass.map
**/*.scss.map

# Visual Studio 2019. Global ignore Visual Studio 2019 directory.
**/.vs/

# Visual Studio Code. Global ignore Visual Studio Code directory.
**/.vscode/

# Windows operating system. Global ignore Thumbs.db files.
**/Thumbs.db

# =============================================================================
# GENERIC SETTINGS STOP
# =============================================================================

# =============================================================================
# SPECIFIC PROJECT SETTINGS START
# =============================================================================

# Project .gitignore settings.

# =============================================================================
# SPECIFIC PROJECT SETTINGS STOP
# =============================================================================
